@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-10">Create New Employee </h1>
<form asp-action="Create" class="mt-5" enctype="multipart/form-data">
    <partial name="PartialViews/_CreateEditEmployeePartialView" />

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}
