@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<div>
    <partial name="PartialViews/_DeleteDetailsEmployeePartialView" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back</a>
</div>


