@model EmployeeViewModel
@inject IDepartmentRepository departmentRepository
@{
    var Departments = new SelectList(await departmentRepository.GetAll(), "Id", "Name");
}
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input type="text" class="form-control" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Adsress"></label>
    <input type="text" class="form-control" asp-for="Adsress" />
    <span asp-validation-for="Adsress" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input type="checkbox" class="form-control" asp-for="IsActive" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input type="email" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input type="text" class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DepartmentId"></label>
    <select asp-for="DepartmentId" class="form-control" asp-items="Departments">
        <option value="@null">-- Select Department --</option>
    </select>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Image"></label>
    <input class="form-control" asp-for="Image" />
</div>

