@model UserViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="UserName"></label>
    <input class="form-control" asp-for="UserName" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly/>
</div>
@* <div class="form-group">
    <label class="col-form-label" asp-for="Password"></label>
    <input class="form-control" asp-for="Password" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="ConfirmPassword"></label>
    <input class="form-control" asp-for="ConfirmPassword" readonly />
</div> *@
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsAgree"></label>
    <input type="checkbox" class="form-control" asp-for="IsAgree" readonly disabled/>
</div>
